<% if params[:controller] == "slogs" && params[:action] == "index" %>
  <section class="slog_filters">
    <%= form_tag :method => 'get' do %>
      <%= submit_tag "Filter", class: "btn btn-primary btn-small", :id => "submit_filter" %>
      <%= text_field_tag "mission_filter", nil, :placeholder => "Mission" %>
      <%= collection_select :slog_type, :slog_type_id, SlogType.all, :id, :name, :include_blank => "Any Slog Type" %>
    <% end %>
  </section>
<% end %>
