<section id="intro">
  <h2>Welcome to Missionary Slog Book</h2>
  <iframe class="intro_vid" width="560" height="315" src="//www.youtube.com/embed/TD5XrTUhYTY" frameborder="0" allowfullscreen></iframe>
  <p>
  Thousands of LDS missionaries come home from their missions every year.
  They return filled with missionary expertise and wonderful stories.
  Rarely is much of their experience or experiences passed on to more than a handful of people.
  We want to fix that.
  This isnt just for returned missionaries, anyone is welcome to create an account and post a "slog" about
  missionary experience. 
  <br>
  <br>
  Still not sure what Missionary Slog Book is about? Check out our <%= link_to 'About Page', about_pages_path %>.
  </p>
  <div class="banner_actions">
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success banner_action_link' %>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary banner_action_link' %>
  </div>
</section>
