<span class="slog_vote">
    <span id="slog_score_<%= slog.id %>" class="slog_score"><%= slog.upvotes.size %></span>
    <span id="slog_upvote_<%= slog.id %>" class="slog_upvote"><%= upvote_slog(slog) %> <!-- &bull; --> </span>
</span>
