<img src="http://placekitten.com/40/40" class="usr_img_small" title="<%= slog.user.username %>"/>
<span class="user.name"><%= slog.user.username %></span>
<span class="created"><%= time_ago_in_words(slog.created_at) %> ago</span>
