<div class="slog_vote">
    <div id="slog_score_<%= slog.id %>" class="slog_score"><%= slog.upvotes.size %></div>
    <div id="slog_upvote_<%= slog.id %>" class="slog_upvote"><%= upvote_slog(slog) %> &bull; </div>
</div>
