<div class="page_body">
  <%- model_class = Slog -%>
  <div class="page-header">
    <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %> Slog</h1>
  </div>
  <%= render :partial => 'form' %>
</div>
<div class="means">
  <%= render "shared/sidebar" %>
</div>
