<section class="home">
    <section class="slog_list">
        <% @slogs.each do |slog| %>
            <%= render "slog_item", :slog => slog %>
        <% end %>
    </section>
    <section class="means">
        <%= render "shared/sidebar" %>
    </section>
</section>
