<section class="page_body">
  <section class="page_content">
    <%- model_class = Slog -%>
    <%= link_to "&larr; Back".html_safe, :back, :class => "link_back" %>
    <div class="page-header">
      <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %> Slog</h1>
    </div>
    <h4>Guide to quality slogs</h4>
    <div class="slog_guide">
      <ul>
        <li>
          <strong>Choose a relevant Slog Type:</strong> 
          <ul>
            <li><strong>Tip:</strong> A Tip should focus on the "outer game" of missionary work or things you can DO to be a more effective missionary. A few examples are how to ask thought provoking questions, or an engaging way to teach the Plan of Salvation.</li>
            <li><strong>Advice:</strong> Advise should focus on the "inner game" of missionary work or how to BE a better missionary.Examples are how to overcome discouragement, or how to love a companion you dont get along with.</li>
            <li><strong>Stories:</strong> Please share any story that accurately shows what it is like to be a missionary. However, please avoid inappropriate content and try not to scare any mothers who may read your story</li>
            <li><strong>Mission Description:</strong> Try to give people a feel for what it is like in your mission. Answer questions like:<br>
            How do missionaries get around? car, bus, walk, bike?<br>
            What is the weather like?<br>
            How was your mission different from the wherever you grew up?<br>
            What are the wards/branches like?<br>
            What are the members like, and do they members feed you?<br>
            Does your mission have a temple? Do missionaries get to visit the temple?<br>
            What places in the mission do most missionaries want to serve and why?<br>
            What are the most common religions in that area?</li>
          </ul>
        </li>
        <li><strong>Add relevant tags:</strong> Help us know if your post is funny, inspiring, faith building, or relevant to baptism, testimony, restoration, etc... by tagging it appropriately</li>
        <li><strong>Have a point and stick to it</strong></li>
        <li><strong>Keep it simple</strong></li>
        <li><strong>Include at least one picture</strong></li>
        <li><strong>Proof read before you Submit your slog</strong></li>
      </ul>
    </div>
    <%= render :partial => 'form' %>
  </section>
</section>
<section class="means">
  <%= render "shared/sidebar" %>
</section>
