<div class='holder'><%= holder_tag '260x260' %></div>
<div class='holder'><%= holder_tag '260x60' %></div>
<div class='holder'><%= holder_tag '260x260' %></div>
<div class='holder'><%= holder_tag '260x60' %></div>

