<div id="sidebar">
<div class='holder'><%= holder_tag '370x260' %></div>
<div class='holder'><%= holder_tag '370x60' %></div>
<div class='holder'><%= holder_tag '370x260' %></div>
<div class='holder'><%= holder_tag '370x60' %></div>
</div>
