<section class="means">
<div class='holder'><%= holder_tag '170x260' %></div>
<div class='holder'><%= holder_tag '170x60' %></div>
<div class='holder'><%= holder_tag '170x260' %></div>
<div class='holder'><%= holder_tag '170x60' %></div>
</section>
