<article class="pages_content">
<h2>About Missionary Slog Book</h2>
<p class="pages_quote">
"Now is the time for members and missionaries to come together, to work together, to labor in the Lord's vineyard to bring souls unto Him. He has prepared the means for us to share the gospel in a multitude of ways, and He will assist us in our labors if we will act in faith to fulfill His work..."  
<br>
<br>
-President Thomas S Monson-  General Conference October 2013 
</p>

<p>What is a Slog you ask? A slog is a hard work over a period of time, a spell of difficult, tiring work or traveling. To slog is to work hard, toil, labor, grind, trek, plow, work one's guts out, and to put one's nose to the grindstone. </p>

<p>Missionary Slog Book is a place where missionaries and members (Every Member a Missionary) can pass on their knowledge and experience to other members of the church and the next generation of missionaries by creating blog posts on this site. We call our blog posts slogs because missionary work is a slog and... you know... it sounds like blog.</p>

<p>Just think of how many tips and tricks have to be releared by every new generation of missionaries.</p>

<p>Also think about how many new missionaries get their call every week and would love to hear about the place where they have just been called.</p>

<p>The goal is to further the work of missionary work by pulling from the collective knowledge of thousands of members from The Church of Jesus Christ of Latter-day Saints. </p>

<p>You can write about anything, but we have some Slog Types to help organize your posts:
  <ul>
    <li><strong>Tip:</strong> A Tip should focus on the "outer game" of missionary work or things you can DO to be a more effective missionary. A few examples are how to ask thought provoking questions, or an engaging way to teach the Plan of Salvation.</li>
    <li><strong>Advice:</strong> Advise should focus on the "inner game" of missionary work or how to BE a better missionary.Examples are how to overcome discouragement, or how to love a companion you dont get along with.</li>
    <li><strong>Stories:</strong> Please share any story that accurately shows what it is like to be a missionary. However, please avoid inappropriate content and try not to scare any mothers who may read your story</li>
    <li><strong>Mission Description:</strong> Try to give people a feel for what it is like in your mission. Answer questions like:<br>
    How do missionaries get around? car, bus, walk, bike?<br>
    What is the weather like?<br>
    How was your mission different from the wherever you grew up?<br>
    What are the wards/branches like?<br>
    What are the members like, and do they members feed you?<br>
    Does your mission have a temple? Do missionaries get to visit the temple?<br>
    What places in the mission do most missionaries want to serve and why?<br>
    What are the most common religions in that area?</li>
  </ul>
</p>
<p>Missionary Slog Book isn't just for returned missionaries, anyone is welcome to create an account and post a "slog" about missionary experiences.</a>

<p>Pass on YOUR missionary experience!</p>
</article>
