<article class="pages_content">
<h2>About Missionary Slog Book</h2>
<p class="pages_quote">
.Now is the time for members and missionaries to come together, to work together, to labor in the Lord.s vineyard to bring souls unto Him. He has prepared the means for us to share the gospel in a multitude of ways, and He will assist us in our labors if we will act in faith to fulfill His work..  
<br>
<br>
-President Thomas S Monson-  General Conference October 2013 
</p>

<p>What is a Slog you ask? A slog is a hard work over a period of time, a spell of difficult, tiring work or traveling. To slog is to work hard, toil, labor, grind, trek, plow, work one.s guts out, and to put one.s nose to the grindstone. </p>

<p>Thousands of LDS missionaries come home from their missions every year after slogging away to share the message of the restored gospel of Jesus Christ. They return filled with missionary expertise and wonderful stories. Rarely are much of these mission experiences and conversion stories passed on to more than a handful of people. We want to fix that.<p>

<p>Missionary Slog Book is a place where missionaries and members (Every Member a Missionary) can pass on their knowledge and experience to other members of the church and the next generation of missionaries.</p>

<p>The goal is to further the work of missionary work by pulling from the collective knowledge of thousands of members from The Church of Jesus Christ of Latter-day Saints. </p>

<p>What can you write about? It could be a:
<ul>
  <li>conversion story</li>
  <li>a tip about how to learn a language</li>
  <li>how to street contact in a certain area or your mission</li>
  <li>the perfect cheap meal in your area</li>
  <li>training ideas for new trainer<li>
  <li>ward member missionary work in your area<li>
  <li>The list is endless..........</li>
</ul>
</p>
<p>Missionary Slog Book isn't just for returned missionaries, anyone is welcome to create an account and post a "slog" about missionary experiences.</a>

<p>Pass on YOUR missionary experience!</p>
</article>
