<article class="pages_content">
<h2>Contact Us</h2>

<br>
<h4>INQUIRIES & OPPORTUNITIES</h4>

<p>Missionary Slog Book is always looking for new opportunities to collaborate with future partners, member missionaries, and return missionaries to make your site better! Please contact us to discuss new opportunities for collaboration.</p>
<br>

<p>Please feel free to contact us with any suggestion on how we can make our site better.</p>

<p>Please also contact us if you or someone you know would like to advertise on our site.</p>


<p>You can reach us via email at <%= mail_to "hello@missionaryslogbook.com" %></p>

</article>
