<article class="pages_content">
<h2>Missionary Slog Book Terms of Use</h2>

<p>This Statement of Rights and Responsibilities ("Statement," "Terms," or "SRR") is our terms of service that governs our relationship with users and others who interact with Missionary Slog Book (MSB). By using or accessing MSB, you agree to this Statement, as updated from time to time in accordance with Section 1: 2,3,4 below. The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any or all Agreements: "Client", .You. and .Your. refers to you, the person accessing this website and accepting the Company.s terms and conditions. "The Company", .Ourselves., .We. and "Us", refers to our Company. .Party., .Parties., or .Us., refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the express purpose of meeting the Client.s needs in respect of provision of the Company.s stated services/products, in accordance with and subject to, prevailing English Law. Any use of the above terminology or other words in the singular, plural, capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same</p>
<h4>Privacy</h4>
<p>1) Your privacy is very important to us. Authorized employees within the company on a need to know basis only use any information collected from individual customers. We constantly review our systems and data to ensure the best possible service to our customers. We designed our Data use Policy to make important disclosures about how you can use MSB to share with others and how we collect and can use your content and information.  We encourage you to read the Data Use Policy, and to use it to help you make informed decisions.</p>
<p>MSB intends to provide the best possible service to each of its Subscribers. MSB is also dedicated to staying abreast of new and available sharing environments that will better serve our Subscribers. However, due to changing technologies, changing laws and the individual and collective needs of our Subscribers, MSB reserves the right, in its sole discretion, to change, modify, add or remove all or any part of these Terms at any time with or without notice.</p>
<p>Subscribers may view the most current version of these Terms at www.missionaryslogbook.com/terms. Any use of the Services by Subscriber, after changes, modifications, additions or deletions to these Terms are posted on the MissionarySlogBook.com website, shall constitute Subscriber's acceptance of all such changes, additions, modifications or deletions. If a Subscriber does not agree to any such alterations to these Terms, the Subscriber's sole and exclusive remedy is to cancel the Subscriber's account.</p>
<p>If MSB makes a significant change to these Terms, as determined in its sole discretion, MSB will post a notice that we have made significant changes to the Terms on the MissionarySlogBook.com website for at least thirty (30) days after the changes are posted and will indicate at the bottom of these Terms the date these Terms were last revised.</p>

<h4>Sharing Your Content and Information</h4>
<p>As a user of MSB you own all of the content and information you post on MSB. In addition:</p>
<p>For content that is covered by intellectual property rights, like photos, videos, and written content (IP content), you specifically give us the following permission, subject to your privacy: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with MSB (IP License).</p>
<p>This includes publishing any content you post in books, ebooks, emails, or other websites for prifit or gain.</p>
<p>When you publish content or information using our content management setup, it means that you are allowing everyone, including people off of MSB, to access and use that information, and to associate it with you (i.e., your name and profile picture).</p>
<p>We always appreciate your feedback or other suggestions about MSB, but you understand that we may use them without any obligation to compensate you for them (just as you have no obligation to offer them).</p>
<p>We also reserve the right to delete any content which, according to the sole discression of the moderators of MSB, contains pornographic pictures/content, anti-mormon content, hurtful content to one of our Subscribers or any other content the moderators of MSB find inappropriate.  </p>

<h4>Confidentiality</h4>

<p>We are registered under the Data Protection Act 1998 and as such, any information concerning the Subscriber and their respective Subscribers Records may be passed to third parties. However, Subscribers records are regarded as confidential and therefore will not be divulged to any third party, other than our manufacturer/supplier(s) and if legally required to do so to the appropriate authorities. Subscribers have the right to request sight of, and copies of any and all Subscribers Records we keep, on the proviso that we are given reasonable notice of such a request. Subscribers are requested to retain copies of any literature issued in relation to the provision of our services. Where appropriate, we shall issue Subscribers with appropriate written information, handouts or copies of records as part of an agreed contract, for the benefit of both parties.</p>

<p>We will not sell, share, or rent your personal information to any third party or use your e-mail address for unsolicited mail. Any emails sent by MSB will only be in connection with the provision of agreed services and products.</p>


<h4>Availability</h4>

<p>All advertising is intended solely for MSB Subscribers. You are solely responsible for evaluating the fitness for a particular purpose of any downloads, programs and text available through this site. Redistribution or republication of any part of this site or its content is prohibited, including such by framing or other similar or any other means, without the express written consent of MSB. MSB does not warrant that the service from this site will be uninterrupted, timely or error free, although it is provided to the best ability. By using this service you thereby indemnify MSB, its employees, agents and affiliates against any loss or damage, in whatever manner, howsoever caused.</p>


<h4>Cookies</h4>

<p>Like most interactive web sites, MSB website [or ISP] uses cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate partners may also use cookies. </p>

</h4>Links to this Website</h4>

<p>If you do create a link to a page of MissionarySlogBook.com you do so at your own risk and the exclusions and limitations set out above will apply to your use of this website by linking to it.</p>


</h4>Links from this Website</h4>

<p>We do not monitor or review the content of other party.s websites which are linked to from this website. Opinions expressed or material appearing on such websites are not necessarily shared or endorsed by us and should not be regarded as the publisher of such opinions or material. Please be aware that we are not responsible for the privacy practices, or content, of these sites. We encourage our users to be aware when they leave our site & to read the privacy statements of these sites. You should evaluate the security and trustworthiness of any other site connected to this site or accessed through this site yourself, before disclosing any personal information to them. This Company will not accept any responsibility for any loss or damage in whatever manner, howsoever caused, resulting from your disclosure to third parties of personal information.</p>

<h4>Copyright Notice</h4>

<p>Copyright and other relevant intellectual property rights exists on all text relating to the Company.s services and the full content of this website.</p>

<h4>Communication</h4>

<p>We have several different e-mail addresses for different queries. These, & other contact information, can be found on our Contact Us link on our website or via Company literature or via the Company.s stated telephone, facsimile or mobile telephone numbers.</p>

<p>These terms and conditions form part of the Agreement between the Client and ourselves. Your accessing of this website and/or undertaking of a booking or Agreement indicates your understanding, agreement to and acceptance, of the Disclaimer Notice and the full Terms and Conditions contained herein. Your statutory Consumer Rights are unaffected.    </p>

<p>&copy; Missionary Slog Book 2013 All Rights Reserved</p>

</article>
