@tbar_bg: #4FD9F7;
@fbar_bg: #CCCCCC;
@main_bg: #DBDBDB;
@error_bg_color: #FFD4D4;
@tbar_color1: #6B9FBF;
@tbar_color2: darken(@tbar_color1, 8%);
@slog_item_bg: #FFFFFF;
@slog_item_hover_bg: #F0F0F0;
