/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.autocomplete
 */
@import "_variables.css.less";
.rounded{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
html body, body h1, nody h2, body h3, body h4, body h5, body h6 {
font-family: 'Montserrat', sans-serif;
}
body {
padding:0;
background:#333 !important;
color:#000;
width:100%;

}
.page {
background:#efefef;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
z-index:99;
position:relative;
display:block;
width:100%;
}
.page.nav_active {
position:absolute;
right:-20em;
}
.banner.nav_active {
left: 20em;
}
body .container {
width: auto;
max-width: none;
padding-left:0;
padding-right:0;
margin-left: 23%;
}
.mission,
.slog_item_vote,
.preview_copy,
.tags {
height:0;
padding:0;
overflow:hidden;
margin:0;
}
.nav {
display:block;
position:fixed;
z-index:-99;
width: 100%;
height: 100%;
}
.nav li {
width:20em;
display:block;
}
.nav>li>a {
color: #999;
border-bottom: 1px solid #393939;
display:block;
padding:.8em 1em;
}
.nav>li>a:hover {
color:#ddd;
background-color:transparent !important;
}
.nav>li>a:active,
.nav>li>a.active {
background-color:@bluegrey;
padding-left:1.2em;
}
.new_user_link {
text-align: center;
color:#555 !important;
font-size:.9em;
text-transform:lowercase;
}
.new_user_link:hover {
color:dddd !important;
}
.nav_header {
color: #666;
text-transform: uppercase;
text-align: center;
border-bottom: 5px solid #222;
padding: 1.4em 1em 1.4em 3em;
opacity:.4;
z-index:101;
}
.mini_nav {
margin:0;
display:block;
position:fixed;
background:@blue;
color:@light;
top: 1em;
left: 1em;
padding: .5em;
border: none;
outline: none;
z-index:101;
}
.tags, .tags li {
margin:0;
padding:0;
list-style:none;
}
.slog_preview {
background:#fff;
position:relative;
padding:1em;
margin:0;
display:block;
border-bottom: #ddd solid 1px;
border-bottom: #ddd solid 1px;
/* -webkit-box-shadow:inset 0 0 2em rgba(0, 0, 0, 0.1);
box-shadow:inset 0 0 2em rgba(0, 0, 0, 0.1); */
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
clear:both;
}
.slog_preview h3 {
margin:0;
}
.slog_preview h3 a {
color: @black;
text-decoration: none;
padding: .2em;
padding-left: 0em;
line-height: 1.2em;
cursor: pointer;
display: block;
font-size: 1em;
font-weight: 700;
}
.slog_preview.active h3 a {
margin-bottom:.2em;
}
.mission {
margin:0 0 .3em 0em;
display:inline;
height:1.2em;
}
.mission a{
text-decoration: none;
margin:0;
}
.mission a:hover {
text-decoration:none;
}
.slog_preview .slog_image {
display:inline-block;
position:relative;
float:left;
margin:0 1em 0 0;
}
.slog_preview.active .slog_image {
margin:0 1em 1em 0;
}
.slog_preview .slog_image::before {
content: "";
position: absolute;
top: -1em;
bottom: -1em;
left: -1em;
right: -1em;
}
.slog_preview .slog_image::after {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
content: "";
z-index: 2;
-webkit-box-shadow:inset 0em 0em 3em rgba(0, 0, 0, 0.8);
box-shadow:inset 0em 0em 3em rgba(0, 0, 0, 0.8);
}
.slog_preview .slog_image img {
border:@lightgrey 1px solid;
z-index: 1;
position: relative;
float: left;
display: inline;
margin: 0;
width: 200px;
height: 200px;
}
.holder img {
max-width:100%;
margin-bottom:.1em;
}
.read_more {
white-space:nowrap;
}
.slog_preview_box {
margin: 0;
color:@blue;
font-size: 0.9em;
font-style:italic;
position: relative;
width: 100%;
display: block;
background-clip: padding-box;
padding: 0.3em;
}
.slog_preview_box a {
color:@blue;
}
.slog_preview_comments,
.slog_preview_user {
text-decoration:none;
}
.slog_preview_comments {
}
.usr_img_small {
display:none;
}
.slog_item_vote {
color: #fff;
position: absolute;
display: block;
width: 3em;
text-align: center;
left: -3em;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
top:0;
height:0;
}
.active .slog_preview_box,
.active .slog_item_vote,
.active .preview_copy,
.active .preview_copy {
margin-bottom:1em;
font-size: 1em;
}
.preview_copy,
.tags {
clear:both;
height:auto;
margin-top: .2em;
}
.tags li {
display:inline;
}
.tags li a {
color:#ccc;
padding:.3em;
font-size:.8em;
margin:0 .1em .1em 0;
}
.col{
float: right;
}
.banner{
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
position: fixed;
z-index: 100;
top: 0;
left: 0;
width: 23%;
height: 100%;
background: url('http://blog.moregoodfoundation.org/files/2013/05/mormon-missionaries-men.jpg') no-repeat center top;
}
.slog_item_main{
overflow: hidden;
}
.slog_item_main h3{
  display: inline-block;
  padding-left: .2em;
}
.preview_content{
min-height: 202px;
}
.page_body{
margin-right: 220px;
float: left;
margin-left: 10px;
}
.means{
width: 200px;
position: absolute;
right: 0px;
margin: 10px 10px 0 0;
}
.holder {
border: 1px solid grey;
margin-bottom: 10px;
}
.upvote{
height: 1.6em;
}
.slog_upvote{
display: inline-block;
position: relative;
top: -0.3em;
}
.slog_score{
display: inline-block;
font-size: 1.3em;
}
.slog_vote{
font-weight: 500;
display:inline;
}
.addthis_toolbox {
margin-top: 1.5em;
}
.addthis_button_pinterest_pinit{
  width: 46px;
}
.pagination {
background: #FFFFFF;
padding-left: 1em;
}
.slog_list{
margin-top: 10px;
}
