.add_comment{ 
  display: none;
}
.comment_reply{ 
  &:hover{ cursor: pointer; }
}
.slog_block img{
float: left;
margin: .5em .8em .8em .8em;
}
#slog_content{
background: #fff;
padding: 2em;
margin-top: 10px;
}
.tags{
margin-top: 1em;
}
#slog_header h3{
text-decoration: none;
padding: .2em;
padding-left: .2em;
margin: .2em .2em 0 .2em;
line-height: 1.2em;
cursor: pointer;
display: inline-block;
font-weight: 700;
}
#slog_header{
border-bottom: 1px solid #E9E9E9;
padding-bottom: 1.5em;
}
#slog_body{
margin: 1.5em .5em;
}
#slog_header .tags li a {
font-size: 1em;
}
.slog_flag{
margin-top: 1.8em;
float: right;
position: relative;
top: -3.8em;
}
