
@import "_variables.css.less";
@mid_dark: #535353;
.slog_item{ 
  background: @slog_item_bg; 
  padding: 10px;
  margin: 10px 0;
  height: 120px;
  &:hover{
  }
  .shaddow_border;
}
.slog_item h4{ margin: 0; }
.slog_item_side{ 
  display: inline-block; 
  width: 100px;
  position: relative;
  float: left;
  margin-right: 5px;
  margin-down: 5px;
}
.slog_item_upvote{ 
  display: inline-block;
  width: 20px; 
  text-align: center; 
  float: left;
  margin-top: 3px;
  a:hover{ text-decoration: none; }
}
.slog_item_score{ 
  display: inline-block; 
  height: 15px;
  text-align: center;
  color: @mid_dark;
  font-weight: bold;
  width: 80px;
  background: #E0E0E0;
  margin-top: 5px;
  float: left;
  line-height: 16px;
}
.slog_item_content{ 
  display: inline-block; 
  width: 643px;
  position: relative;
  float: left;
}
.slog_item_type{ 
  display: inline-block; 
  float: left;
  background: #E0E0E0;
  color: @mid_dark;
  font-weight: bold;
  padding: 0 10px;
  margin-right: 15px;
}
.slog_item_excerpt {
  height: 40px;
  line-height: 14px;
  padding: 10px 0;
  color: #454545;
}
.slog_item_footer{ height: 20px; font-size: 12px; line-height: 26px;}
.slog_item_user{ display: inline-block; float: left; margin-right: 0px;}
.slog_item_comments{ display: inline-block; float: left;}
.slog_item_mission{ display: inline-block; float: right; font-size: 14px; font-weight: bold; color: @mid_dark;}
h1, h3{
  text-align: center;
}
.form_image{
  display: inline-block;
  float: left;
  width: 265px;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #eeeeee;
  margin-bottom: 25px;
}
.form_image p{
  text-align: center;
  font-weight: bold;
}
.form_attr{
  display: inline-block;
}
.form_content{
  clear: both;
  margin-top: 15px;
}
.form_actions{
  float: right;
  margin-top: 15px;
  margin-bottom: 30px;
}
.form_body_header{
  text-align: center;
  font-size: 16px;
  border-top: 1px solid #eeeeee;
  padding: 15px 0;
  font-weight: bold;
}
.form_attr label{
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  padding-left: 4px;
  margin-top: 18px;
}
.form_attr input[type="text"]{
  width: 550px;
}
.form_image img{
  margin-bottom: 20px;
}
.back_to_slogs{
  margin-top: 5px;
}
#slog_content{
  .shaddow_border;
  margin: 10px 0;
}
#slog_header{ border-bottom: 1px solid #EEEEEE; }
#slog_header_side{ display: inline-block; }
#slog_header_body{ display: inline-block; }
#slog_auth_time{ display: inline-block; }
#slog_mission{ display: inline-block; float: right; }
#slog_header_image{ margin: 10px; }
#slog_body{ padding: 10px; }
#slog_vote{ display: inline-block; float: right; }
#slog_type{ display: inline-block; }
#slog_upvote{ display: inline-block; }
#slog_score{ display: inline-block; }
.edit_slog{ margin: 10px; }
.destroy_slog{ margin: 10px 0; }
#slog_actions {
  width: 100%;
  background: #E6E6E6;
  border-top: 1px solid #DFDFDF;
}
